a {
    text-decoration: none;
    transition: all ease 0.5ms;
}   
li {
    transition: all 500ms ease;
    display: inline-block;
    margin-right: 20px;
}

li:hover {
    transform: scale(1.5);
    opacity: 0.7;
}

ul {
    background-color: rgb(128, 130, 200);
    align-items: center;
    position: relative;
    height: 150px;
    padding: 75px 50px;
    text-align: center;
    font-size: 25px;
}