
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 30px;  
}

a {
    text-decoration: none;
    color: black;
    transition: all 500ms ease;
} 

a:hover {
    transform: scale(1.5);
    color: blueviolet;
}