p {
    text-align: center;
    padding: 200px 100px;
    font-size: 55px;
    color: black;
}

body {
    background-image:url(img/cosmo.webp);
    background-size: cover;
    height: 200px;
    width: 100%; 
}
